img {
    width: 300px;
}


header {
    background-color: blue;
    color: bisque text-alingn: center max-width: 800px;
    margin: 0 auto;
    padding: 16px;
}

main {
    background-color: #ffffff;

}

.artigo-autor {
    font-weight: bold;
}